<h1>Wiki Collaborators for: </h1>
<h2> <%= @wiki.title %></h2>

	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Users</th>
	      <th>email</th>
	      <th>access</th>
	    </tr>
	  </thead>
	  <% @users.each do |user| %>
	  	<% unless (user == current_user) || user.admin? || (user == @wiki.user) %>
	  	<!-- don't include user if current_user is the user, if user is an admin, or if user is owner of the wiki   --> 
	  <tbody>
	    <tr>
	      <td><%= user.name %></td>
	      <td><%= user.email %></td>
	      <%# if @wiki.wiki_collaborators.include?(user) %> <!-- OK -->
	      <% if @wiki_collaborators.include?(user) %>
	      	<td><%= link_to "Remove collaborator", wiki_collaborator_path(@wiki, user), method: :delete %></td>
	      <% else %>
	      	<td><%= link_to "Add collaborator", wiki_collaborators_path(wiki_id: @wiki, user_id: user), method: :post %></td>
	      <% end %>
	    </tr>
	  </tbody>
	  	<% end %>
	  <% end %>
	</table>

<br/><br/>



