<h1>Wiki Collaborators for <%= @wiki.title %> </h1>

<% if current_user && (current_user.premium? || current_user.admin?) %>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Users</th>
	      <th>email</th>
	      <th>access</th>
	    </tr>
	  </thead>
	  <% @users.each do |user| %>
	  
	  	<%# unless (user == current_user || user.admin?) || (user.admin? && @wiki.user) || user.admin? %>
	  	<%# unless (user.admin? && @wiki.user) || user.admin? || user == current_user  %>
	  	<%# unless (user == current_user || user.admin?) || (current_user.admin? && user == @wiki.user) %>
	  	<% unless user == current_user || user.admin? || user == @wiki.user %>
	  	<%# raise %>
	  <tbody>
	    <tr>
	      <td><%= user.name %></td>
	      <td><%= user.email %></td>
	      <% if @wiki.wiki_collaborators.include?(user) %>
	      	<td><%= link_to "Remove collaborator", wiki_collaborator_path(@wiki, user), method: :delete %></td>
	      <% else %>
	      	<td><%= link_to "Add collaborator", wiki_collaborators_path(wiki_id: @wiki, user_id: user), method: :post %></td>
	      <% end %>
	    </tr>
	  </tbody>
	  	<% end %>
	  <% end %>
	</table>
<% end %>

<br/><br/>



